/* Menu.css */

/* Estilos para los elementos de menú */
/* Menu.css */

/* Estilos para el contenedor del menú */
.nav {
  position: fixed;
}
.nav p {
  display: flex;
  flex-direction: row;
  left: 0;
  justify-content: space-between;
}


/* Estilos para los elementos de menú */
.nav div {
  display: flex;
  align-items: center;
  height: 1rem;
  width: 10rem;
}

/* Estilos para los elementos de menú activos */
.item-style.active {
  background: #a8a8a8;
  color: #fff;
}

/* Estilos para los submenús */
.menu-box {
  display: none;
  padding-left: 20px;
  flex-direction: column;
}

/* Mostrar submenús cuando se abre el elemento de menú correspondiente */
.item-style.active + .menu-box {
  display: flex;
}
