.nivel-1-item {
    float:left;
    position: relative;
    height:40px;
    width: 9rem;
    top:px;
    margin-right: 10px; /* Espacio entre elementos de primer nivel */
    cursor: pointer; /* Cambia el cursor al pasar sobre los elementos de primer nivel */
    text-decoration: none; /* Elimina subrayado de los elementos de primer nivel */
    text-align: center;
  }
.nivel-1-item p{
  text-align: center;
  margin-top: 10px;
}

.flecha{
  position: relative;
  top:3px;
  left: 10px;
}
  
.nivel-2-item {
    position: relative;
    display: block;
    top: 60px;
    left: 134px;
    height: 30px;
    width: 9rem;
    border-left: none;
    border-bottom: 1px dotted #fff;
    text-align: center;
    align-items: center;
    text-decoration: none;
    
  }

.nivel-2-item p {
    width: 150px;
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

.nivel-2-item .flecha .arrow-down{
    transform: rotate(90deg);
  }
.nivel-2-item .flecha .arrow-right{
    transform: rotate(-90deg);
  }

  
.nivel-3-item {
    position: relative;
    display: block;
    left: 258px;
    top: 9px;
    height: 30px;
    width: 9rem;
    border-left: none;
    border-bottom: 1px dotted #fff;
    text-align: center;
    text-decoration: none;
  }
.nivel-3-item p{
    width: 150px;
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
}



