.nivel-1-item {
    float:left;
    position: relative;
    height: 30px;
    width: 9rem;
    top:15px;
    margin-right: 10px; /* Espacio entre elementos de primer nivel */
    cursor: pointer; /* Cambia el cursor al pasar sobre los elementos de primer nivel */
    text-decoration: none; /* Elimina subrayado de los elementos de primer nivel */
    border-radius: 15px;
    text-align: center;
  }
.nivel-1-item p{
  text-align: center;
  margin-top: 5px;
}

  
.nivel-2-item {
    position: relative;
    display: block;
    top: 54px;
    left: 134px;
    height: 60px;
    width: 9rem;
    border-left: none;
    border-bottom: 1px dotted #fff;
    text-align: center;
    align-items: center;
    text-decoration: none;
  }


  
  .nivel-3-item {
    position: relative;
    display: block;
    left: 258px;
    top: -47px;
    height: 80px;
    width: 9rem;
    border-left: none;
    border-bottom: 1px dotted #fff;
    text-align: center;
    text-decoration: none;
  }



