.nivel1Item {
  float: left;
  position: relative;
  height: 40px;
  width: 9rem;
  top: px;
  margin-right: 10px;
  /* Espacio entre elementos de primer nivel */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre los elementos de primer nivel */
  text-decoration: none;
  /* Elimina subrayado de los elementos de primer nivel */
  text-align: center;
}

.nivel2Item p {
  text-align: center;
  margin-top: 10px;
}

.flecha {
  position: relative;
  top: 3px;
  left: 10px;
}

.nivel2Item {
  position: relative;
  display: block;
  top: 60px;
  left: 134px;
  height: 30px;
  width: 9rem;
  border-left: none;
  border-bottom: 1px dotted #fff;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.nivel2Item p {
  width: 150px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nivel2Item .flecha .arrowDown {
  transform: rotate(90deg);
}

.nivel2Item .flecha .arrowRight {
  transform: rotate(-90deg);
}

.nivel3Item {
  position: relative;
  display: block;
  left: 258px;
  top: 9px;
  height: 30px;
  width: 9rem;
  border-left: none;
  border-bottom: 1px dotted #fff;
  text-align: center;
  text-decoration: none;
}

.nivel3Item p {
  width: 150px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}